.about--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(90deg, #ad30db 25%, #35048e 100%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    margin-top: 100px;

}