.list_people{
    margin-top: 100px;
}

.astros--container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    padding-left: 0px;
}

.astro--card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, #ad30db 25%, #35048e 100%);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 0px 0px;
    height: 200px;
    width: 300px;
    margin-top: 20px;
}

.astro--name .astro--station{
    margin: 10px 0px;
    
}