.navbar--container{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 20px;
    background: linear-gradient(90deg, #35048e 25%, #ad30db 100%);
}

.navbar--title{
    font-size: .7rem;
    letter-spacing: .1rem;
}

.navbar--links{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.letra{
    color: #ffffff;
    font-size: 1.3rem;
    text-decoration:underline;
}

